<div class='section'>
  <div class='container'>
    <h2>ABOUT</h2>
    <hr class="intro-divider">
    <div class="message-box text-center">
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= image_tag 'header2.jpg', :class => "about-img" %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'header2.jpg', :class => "about-img" %>
      </div>
      <div class="col-xs-4">
        <%= image_tag 'header2.jpg', :class => "about-img" %>
      </div>
    </div>
  </div>
</div>

<section class='map'>
  <h2>Location</h2>
  <p>366 mooู่ 2 BanLao, MuangChaiyapoom, Chaiyapoom, Thailand 36000</p>

  <div id="map" style="width:100%;min-height:350px"></div>

  <script>
  function myMap() {
    var mapCanvas = document.getElementById("map");
    var mapOptions = {
      center: new google.maps.LatLng(51.5, -0.2),
      zoom: 10
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</section>

<section class="contact-us">
  <div class="container">
    <h2>Contact us</h2>
    <p><i class="glyphicon glyphicon-earphone"></i> TEL:025527489</p>
    <p><i class="glyphicon glyphicon-earphone"></i> RESERVATION: 025527435</p>
    <p><i class="glyphicon glyphicon-envelope"></i> EMAIL: phusuay@gmail.com</p>
  </div>
</section>
