<div class="container">
  <% if user_signed_in? %>
  <h1 class="text-center">Welcome to admin page</h>
  <%= link_to "Promotion Manager", promotions_path,  :method => :delete, :class => "btn btn-custom center-block", :style => "margin: 10% 0; padding: 5% 0"%>
  <%= link_to "SIGN OUT", destroy_user_session_path,  :method => :delete, :class => "btn btn-custom center-block", :style => "margin: 10% 0; padding: 5% 0"%>
  <% else %>
  <%= link_to "SIGN IN", new_user_session_path,  :method => :get %>
  <% end %>
</div>
