<div class='info section'>
  <div class='container'>
    <div class='section-subject text-center'>
      <h2>Welcome to Phusuay Park View</h2>
    </div>
    <hr class="intro-divider">
    <div class='message-box text-center'>
      <h1><%=t :hello %></h1>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
      <p>WELCOMEWELCOMEWELLCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOMEWELCOME</p>
    </div>
  </div>
</div>

<section class='pic section'>
  <div class='container'>

  </div>
</section>

<section class='more section'>
  <div class='container'>
    <div class='row'>
      <div class="col-xs-4">
        <%= image_tag 'card.jpg', :class => "card-img-top" %>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="col-xs-4">
        <%= image_tag 'card.jpg', :class => "card-img-top" %>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="col-xs-4">
        <%= image_tag 'card.jpg', :class => "card-img-top" %>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class='book-now section'>
  <div class="container">
    <p class='book-now-message'>BOOK NOW</p>
    <p class='book-now-submessage'>Get a special offer up to 70%</p>
    <button type="button" class="btn btn-default">BOOK NOW</button>
  </div>
</section>

<section class='map'>
  <h2>Location</h2>
  <p>366 mooู่ 2 BanLao, MuangChaiyapoom, Chaiyapoom, Thailand 36000</p>

  <div id="map" style="width:100%;min-height:350px"></div>

  <script>
  function myMap() {
    var mapCanvas = document.getElementById("map");
    var mapOptions = {
      center: new google.maps.LatLng(51.5, -0.2),
      zoom: 10
    }
    var map = new google.maps.Map(mapCanvas, mapOptions);
  }
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?callback=myMap&key=AIzaSyB2JUusumTBOvHtrnWzs2i8yWnDTAvda6g "></script>
</section>
